.switch-lang {
  position: fixed;
  right: 0;
  z-index: 99;
  background-color: #999999;
  text-align: center;
  width: 200px;
  border-radius: 15px;
  margin: 25px 40px;
}
.switch-lang a p {
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}
@media (max-width: 990px) {
  .switch-lang {
    background-color: #999999;
    text-align: center;
    width: 120px;
    border-radius: 10px;
    margin: 10px 15px;
  }
  .switch-lang a p {
    color: white;
    font-size: 13px;
    font-weight: bold;
    margin: 0;
  }
}
